In [27]:
import pandas
import numpy as np
darkcal = pandas.read_csv('darkcalibr_poly31_V2.txt', sep='\t', header=5, index_col=False)

1-None

#

In [4]:
import numpy as np
1-np.nan

nan

In [28]:
darkcal.SELECT_RMSE > 0

0       False
1       False
2       False
3       False
4       False
        ...
1019    False
1020    False
1021    False
1022    False
1023    False
Name: SELECT_RMSE, Length: 1024, dtype: bool

In [35]:
df2 = pandas.read_csv('pupil_positions.csv')
pupildata =  df2['diameter_3d']
pupildata = df2['diameter_3d']
pupildata_mask = df2['confidence']
pupildata = pupildata.reset_index(drop=True)
pupildata = pandas.DataFrame(np.where(np.asarray(pupildata)==0, np.nan, np.asarray(pupildata)))
pupildata = pupildata.rename(columns={0 : 'diameter_3d'})
pupildata.insert(1, 'confidence', np.asarray(pupildata_mask))
pupildata

       diameter_3d  confidence
0              NaN    0.990000
1              NaN    1.000000
2              NaN    1.000000
3              NaN    0.894440
4              NaN    0.969903
...            ...         ...
52391          NaN    0.770503
52392          NaN    0.897018
52393          NaN    0.695347
52394          NaN    0.565487
52395          NaN    0.912639

[52396 rows x 2 columns]